*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 65.2%;
}
.mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 181, 148);
    justify-content: center;
    align-items: center;
}
.card{
    flex-basis: 25%;
    height: 81%;
    border-radius: 1rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border: solid rgb(150, 145, 115) 1px;
    background-color: #fff;
}
.card .imgContainer{
    height: 38%;
    width: 100%;
    margin-bottom: 0.5rem;
}
.card .imgContainer img{
    height: 100%;
    width: 100%;
}
.card .headingContainer{
    height: 5%;
}
.card .headingContainer h1{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(235, 178, 72);
}

.card .paragraphContainer{
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;


}
.card .paragraphContainer p{
    text-align: justify;
    margin-bottom: 1rem;
    
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    align-self: center;
    height: auto;
    width: auto;
    background-color: tomato;
    border-radius: 2rem;
}